<div class='imgcontainer'>
  <img src='{{this.image_url}}' alt='' srcset='' />
</div>
<div class='beerdataparcial'>
  <h3>
    {{this.name}}
  </h3>
  <h4> {{this.description}}</h4>
  <h5> {{this.tagline}}</h5>
</div>