{{#each beers}}
    <div class="beer">
        <img src="{{this.image_url}}" alt="" srcset="">
        <h4>
            {{this.name}}
        </h4>
        <p> {{this.description}}</p>
        <h5> {{this.tagline}}</h5>

    </div>

{{/each}}